@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-geist-sans: sans-serif;
  --font-geist-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-geist-sans);
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #d1d5db; /* Tailwind CSS gray-300 */
}

.download_btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  width: 120px;
  border-radius: 10px;
  cursor: pointer;
}

.download_btn:hover {
  background-color: #f0f0f0;
}